* {
    box-sizing: border-box;
}

/* General Styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
}

/* Header Styles */
.header {
  padding: 1rem 0;
  /* background-color: red; */
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #333; /* Change the color as desired */
  padding: 10px 0; /* Adjust the padding to change the size */
}

.navbar-end {
  list-style: none;
  display: flex;
}

.navbar-end li {
  /* display: inline; */
  margin-left: 1rem;
}

.navbar-end a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
}

.navbar-end a:hover {
  color: #fff;
}

.navbar-end a:hover::before {
  background-image: linear-gradient(45deg, #5e17eb, #ff66c4);
  transform: translateX(0);
}

.navbar-end a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

/* Logo Styles */
.logo {
  max-width: 300px;
  max-height: 225px;
  /* overflow: hidden; */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo video {
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 1.5), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Hero Section Styles */
.hero-section {
  background: url('./public/assetss/images/look-view.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content .subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
}

.btn:hover {
  background-color: #555;
}

/* About Section Styles */
.about-section {
  padding: 3rem 0;
  text-align: center;
}

.about-section .title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Footer Styles */
footer {
  padding: 1.5rem;
  background-color: #f4f4f4;
  text-align: center;
}

/*Adjusted screen size for laptop users*/
 @media only screen and (min-width: 1200px) {
    .header h1 {
       font-size: 68px;
       overflow: wrap;
       text-align: right;
    }
    .header nav {
        font-size: 30px;
    }
    .header nav ul {
        float: center;
    }
    .header nav ul li {
        float: none;
        display: block;
        text-align: left;
    }
}
/*Adjusted screen size for tablet users*/
@media only screen and (min-width: 768px) {
    .header h1 {
        font-size: 56px;
        overflow: wrap;

    }
    .header nav {
        font-size: 25px;
        overflow: hidden;
        top: 1;
        right: 0;
        width: 100%;
    }
    .header nav ul {
         display: block;
        position: relative;
        float: right; 
    }
    .header nav ul li {

        float: right;
        text-align: center;
    
    }
    .tops{
        overflow: wrap;
    }
    .about-me {
        overflow: nowrap;
    }
    .about-me h2{
        font-size: 30px;
        text-align: center;
    }
    .about-me img {
       overflow: nowrap;
    }
    .my-work{
        overflow: nowrap;
    }
    h2 {
       overflow: nowrap;
        font-size: 20px;
    }
    h3 {
        overflow:nowrap;
    }
    .image1,
    .image2 {
        overflow: wrap;
         width: 75%;
        height: 25%;
       
     }
     .contact-me h2{
        font-size: 30px;
        text-align: center;
     }
     .contact-me a {
        font-size: 25px;
        overflow: nowrap;
     }
}
/*Adjusted screen size for smartphone users*/
@media only screen and (max-width: 600px) {
    .header h1 {
       font-size: 44px;
       overflow: wrap;
    }
    .header nav {
        font-size: 10px;
        overflow: hidden;
        top: 1;
        right: 0;
        width: 100%;
    }
    .header nav ul {
        display: inline-flex;
        flex-direction: row;
    }
    .header nav ul li {
        overflow: nowrap;
    }
    .tops{
        overflow: wrap;
    }
    .about-me {
        overflow: nowrap;
    }
    .about-me h2{
        font-size: 20px;
        text-align: center;
    }
    .about-me img {
        overflow: nowrap;
    }
    .my-work {
        overflow: nowrap;
    }
    .my-work h2 {
        font-size: 20px;
        text-align: bottom;
    }
    h2 {
        overflow: nowrap;
        font-size: 10px;
     }
    h3 {
        overflow:nowrap;
    }
    .image1,
    .image2 {
        overflow: wrap;
        width: 60%;
        height: 20%;
    }
    .contact-me h2{
        font-size: 20px;
        text-align: center;
     }
     .contact-me a {
        font-size: 20px;
        overflow: nowrap;
     }
} 
