*  {
 box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rosybrown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: cornflowerblue;
    color: white;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 140px;
    height: 140px;
    border-radius: 70%;
    float: left;
    margin-left: 24px;
    margin-top: 24px;
    box-shadow: 1px 1px 1px 6px black;
}

.header h1 {
    display: inline-block;
    font-size: 80px;
    text-shadow: 4px 4px 8px black;
}

.header h1 .port {
    color: white;
    text-shadow: 4px 4px 8px black;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 24px;
    text-shadow: 5px 5px 5px black;
    text-align: justify;
    font-size: 1;
}

a {
    color: whitesmoke;
    text-decoration: wavy;
    flex-wrap: wrap;
}

p {
    font-size: 16px;
}

 .tops { 
    height: 400px;
    width: 100%;
    margin-bottom: 36px;
    padding: 0;
    background-image: url(/images/look-view.jpg);
    background-size: cover;
    background-position: 100%;
    box-shadow: 10px 10px 10px black;
} 

img {
    width: 100%;
    height: auto;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.material {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #92A8D1;
    color: white;
    box-shadow: 10px 10px 5px black;
}

.my-work {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #92A8D1;
    color: white;
    box-shadow: 10px 10px 5px black;
}

.my-work h3 {
    font-size: 15px;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #92A8D1;
    color: white;
    box-shadow: 10px 10px 5px black;
}

.contact-me a {
    display: block;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 2px white;
}

.about-me img {
    width: 20%;
   height: auto;
    max-height: 200px;
}

.my-work img {
    max-height: 300%;
    float: left;
   
}

.image1 {
    max-width: 65%;
    max-height: 50%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    border: 1px black solid;
    display: inline-flex;
}


.image2 {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    top: 5px;
    left: 0;
    border: 1px black solid;
    display: block;
}


.about-me h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}

.my-work h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: black;
}

/* @media only screen and (max-width: 992px) {
    .header {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 75%;
        height: 75%;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        width: 50%;
        height: 50%;
    }
} */
