*  {
 box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rosybrown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    display: flex;
    width: 2050px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: cornflowerblue;
    color: white;
    text-align: center;
}
/*will intend on adding avatar picture within header*/
/* .avatar {
    vertical-align: middle;
    width: 140px;
    height: 140px;
    border-radius: 70%;
    float: left;
    margin-left: 24px;
    margin-top: 24px;
    box-shadow: 1px 1px 1px 6px black;
} */

.header h1 {
    display: inline-block;
    font-size: 80px;
    text-shadow: 4px 4px 8px black;
}

.header h1 .port {
    color: white;
    text-shadow: 4px 4px 8px black;
}
/*added nav to header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.header nav ul {
    list-style-type: none;
}

.header > nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 24px;
    text-shadow: 5px 5px 5px black;
    font-size: 1;
    flex-wrap: nowrap;
}

a {
    color: whitesmoke;
    text-decoration: wavy;
}

p {
    font-size: 16px;
}

 .tops { 
    display: flex;
    height: 400px;
    width: 2050px;
    margin-bottom: 36px;
    padding: 0;
    background-color: aquamarine; 
    background-size: cover;
    background-position: 100%;
} 
/*Displays image under the header*/
.tops > img {
    width: 2050px;
    height: 400px;
    object-fit: cover;
    justify-content: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.material {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.about-me {
    display: flex;
    width: 1500px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #92A8D1;
    color: black;
    box-shadow: 10px 10px 5px black;
}

.about-me > p {
     text-align: center;
     flex-wrap: nowrap;
}

.my-work {
    display: flex;
    width: 1500px;
    margin-bottom: 20px;
    padding: 0;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #92A8D1;
    color: white;
    box-shadow: 10px 10px 5px black;
}

.my-work h3 {
    font-size: 15px;
}

.contact-me {
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #92A8D1;
    color: white;
    box-shadow: 10px 10px 5px black;
}
/*Links to github as well as email*/
.contact-me, a {
    display: block;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 2px white;
}

.about-me img {
    width: 10%;
    height: 10%;
   height: auto;
    max-height: 200px;
}

/* .my-work img {
    max-height: 300%;
    float: left;
   
} */

.my-work img {
        max-width: 90%;
        max-height: 40%;
        margin-bottom: 20px;
        height: auto;
        position: relative;
        top: 5px;
        left: 0;
        border: 1px black solid;
        display: block;
} 


.my-work .image2 {
    max-width: 60%;
    max-height: 40%;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    top: 5px;
    left: 0;
    border: 1px black solid;
    display: block;
}


.about-me h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}

.my-work h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: black;
}
/*Adjusted screen size for laptop users*/
 @media only screen and (min-width: 1200px) {
    .header h1 {
       font-size: 68px;
       overflow: wrap;
       text-align: right;
    }
    .header nav {
        font-size: 30px;
    }
    .header nav ul {
        float: center;
    }
    .header nav ul li {
        float: none;
        display: block;
        text-align: left;
    }
}
/*Adjusted screen size for tablet users*/
@media only screen and (min-width: 768px) {
    .header h1 {
        font-size: 56px;
        overflow: wrap;

    }
    .header nav {
        font-size: 25px;
        overflow: hidden;
        top: 1;
        right: 0;
        width: 100%;
    }
    .header nav ul {
         display: block;
        position: relative;
        float: right; 
    }
    .header nav ul li {

        float: right;
        text-align: center;
    
    }
    .tops{
        overflow: wrap;
    }
    .about-me {
        overflow: nowrap;
    }
    .about-me h2{
        font-size: 30px;
        text-align: center;
    }
    .about-me img {
       overflow: nowrap;
    }
    .my-work{
        overflow: nowrap;
    }
    h2 {
       overflow: nowrap;
        font-size: 20px;
    }
    h3 {
        overflow:nowrap;
    }
    .image1,
    .image2 {
        overflow: wrap;
         width: 75%;
        height: 25%;
       
     }
     .contact-me h2{
        font-size: 30px;
        text-align: center;
     }
     .contact-me a {
        font-size: 25px;
        overflow: nowrap;
     }
}
/*Adjusted screen size for smartphone users*/
@media only screen and (max-width: 600px) {
    .header h1 {
       font-size: 44px;
       overflow: wrap;
    }
    .header nav {
        font-size: 10px;
        overflow: hidden;
        top: 1;
        right: 0;
        width: 100%;
    }
    .header nav ul {
        display: inline-flex;
        flex-direction: row;
    }
    .header nav ul li {
        overflow: nowrap;
    }
    .tops{
        overflow: wrap;
    }
    .about-me {
        overflow: nowrap;
    }
    .about-me h2{
        font-size: 20px;
        text-align: center;
    }
    .about-me img {
        overflow: nowrap;
    }
    .my-work {
        overflow: nowrap;
    }
    .my-work h2 {
        font-size: 20px;
        text-align: bottom;
    }
    h2 {
        overflow: nowrap;
        font-size: 10px;
     }
    h3 {
        overflow:nowrap;
    }
    .image1,
    .image2 {
        overflow: wrap;
        width: 60%;
        height: 20%;
    }
    .contact-me h2{
        font-size: 20px;
        text-align: center;
     }
     .contact-me a {
        font-size: 20px;
        overflow: nowrap;
     }
} 
